<form class="{{cssClass}}" autocomplete="off">
  <section class="sheet-body">
    <div class="description">
      <label>{{localize "MAGICALOGIA.item.description"}}</label>
      {{editor enrichedDescription target="system.description" button=true editable=editable}}
    </div>
  </section>
</form>
